@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --color-text-primary-1: #121212;
    --color-text-primary-2: #181818;
    --color-bg-primary-1: #ffffff;
    --color-bg-primary-2: #F5F5F5;
    --color-border-1: #121212;
  }
}

