@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --color-text-primary-1: #121212;
    --color-text-primary-2: #181818;
    --color-bg-primary-1: #ffffff;
    --color-bg-primary-2: #F5F5F5;
    --color-bg-secondary-1: #121212;
    --color-border-1: #121212;
  }

  body{
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
  }

  
 
}

@layer utilities {
.split-screen-parent{
    height:calc(100vh - 4rem);
  }
  .cursor-ew-resize{
    cursor:ew-resize;
  }
  .dot-pattern{
    background: linear-gradient(90deg, var(--color-bg-primary-2) 38.5px, transparent 1%) center,
                linear-gradient(var(--color-bg-primary-2) 38.5px, transparent 1%) center,
                #000;
	  background-size: 40px 40px;
    
    
  }
}

